nav > a{
  background-color: #393c40;
  color: #ff6d00;
}
.navbar{
  display: flex;
  justify-content: space-around;
  font-size: large;
  width: 100%;
  height: 80px;
  margin: 0;
  font-weight: 800;
  color: white;
}
ul>li{
  color: white;
}
a{
  color: white;
}
a:hover{
  color: #ff6d00;
  text-decoration: none;
}