<div class="container-fluid">

  <div class="row">
      <div>
          <app-search (searchForUser)="searchUserName($event)"></app-search>
      </div>
  </div>

  <div *ngIf="user" class="user-details">
      <h2 class="text-center">User Details</h2>
      <img src ="{{user.avatar_url}}">

      <div class="info">
          <div class="mt-5">
              <p>Name: {{user.username}}</p>
              <p>Profile: {{user.bio}}</p>
              <p>Followers: {{user.followers}}</p>
              <p>Following: {{user.following}}</p>
              <p>Repositories: {{user.following}}</p>
              <p>Date created: {{user.update|date}}</p>
          </div>
      </div>
  </div>
       
   <table class="table container" *ngIf = "user"> 
       <h2 class="text-center">Repos</h2>
       <thead class="row">
           <td class="col-md-3">Name</td>
           <td class="col-md-3">Language</td>
           <td class="col-md-3">Url</td>
       </thead>
              
       <tr *ngFor = "let repo of repos" appApphover class="row">
          <td class="col-md-3">{{repo.name}}</td>
          <td class="col-md-3">{{repo.language}}</td>
          <td class="col-md-3">{{repo.url}}</td>  
       </tr>
  </table>
  <div *ngIf = 'user' class="container-fluid mt-5">
  </div>
  
</div>