img{
  width: 45%;
  height: 350px;
  float: left;
  margin: 10px;
  border-radius: 1rem;
}
.user{
  display: flex;
  justify-content: center; 
  font-size: large;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}
.display{
  display: flex;
  justify-content: space-around;
}
.user-details{
  background-color: white;
  padding: 5%;

}
thead{
  background-color: #14213d;
  height: 70px;
  padding: 5px;
  font-weight: bold;
}
table{
  font-size: larger;
  clear: both;
  color: #ff6d00;
}


