<hr>
<br>
<div class="container">
  <form #searchField="ngForm">
    <div class="form-group" style="display: flex">
      <input [(ngModel)]="User.name" #user="ngModel" type="search" placeholder="Search Github username"
        name="username" class="form-control" style="border-right-style: none; border-radius: 0; border-color: #000" required>
      <button type="submit" class="btn btn-outline-dark btn-hov"
        style="border-left-style: none; border-radius: 0"><i class="fas fa-search" style="color: #000"></i></button>
    </div><br>
  </form>
<hr>

